{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit"> Login </button>
        <a href="{% url 'password_reset' %}">Password reset</a>
    </form>
{% endblock %}