{% extends 'base.html' %}
{% block title %}
    Change Password
{% endblock %}
{%  block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Change password</button>
    </form>
{% endblock %}