{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Raportare frauda
{% endblock %}
{% block content %}
    <script>
        function handleSubmitButton() {
            let submitButton = document.getElementById('submit_button');
            let checkBox = document.getElementById('gdpr_checkbox');
            submitButton.disabled = !checkBox.checked;
        }
    </script>
    {% if report %}
        <p>Raportarea a fost trimisa cu succes. Veti fi contactat pe adresa de email cu rezultatul investigatiei.</p>
    {% endif %}
    <div class="col-xl-6 col-lg-6 col-md-12 p-2 ml-auto" style="margin: auto">
        <form method="post" style="text-align: center;" enctype="multipart/form-data">
            {% csrf_token %}
            {#            {{ form|crispy }}#}
            {% for field in form %}
                <div class="row py-2">
                    {% for icon in form.icons %}
                        {% if forloop.counter == forloop.parentloop.counter %}
                            <i class="{{ icon }} col-1 mt-2"></i>
                        {% endif %}
                    {% endfor %}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="row py-2">
                <i class="fas fa-file-contract col-1 mt-2"></i>
                <span class="col-11 d-flex mt-1">
                    <input type="checkbox" id="gdpr_checkbox" class="form-check-input me-3" onclick="handleSubmitButton()">
                    <label for="gdpr_checkbox" class="form-check-label bg-white px-2">Sunt de acord cu prelucrarea datelor personale
                        conform GDPR</label>
                </span>
            </div>
            <button class="btn btn-primary my-2 col-8" type="submit" id="submit_button" disabled>Submit</button>
        </form>
    </div>
{% endblock %}

