<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Raportare frauda</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if current_user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'rapoarte' %}">Vezi raportari</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Statistici</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">Log out</a>
                    </li>
                {% endif %}
                {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">Log in</a>
                    </li>
                {% endif %}

            </ul>
        </div>

    </div>
</nav>
