{% extends 'base.html' %}

{% block title %}
    Rapoarte
{% endblock %}

{% block content %}
    {% include 'administration/navbar.html' %}
    <div style="background: #ffffffdd">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Subject</th>
                <th scope="col">Message</th>
                <th scope="col">Att</th>
                <th scope="col">email</th>
                <th scope="col">Status</th>
                <th scope="col">Raspuns</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for report in reports %}
                <tr>
                    <form method="post" action="{% url 'update_report_status' %}">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ report.subject }}</td>
                        <td>{{ report.message }}</td>
                        <td>
                            {% if report.attachment %}
                                <a href="{{ report.attachment.url }}">Link</a>
                            {% else %}
                                none
                            {% endif %}
                        </td>
                        <td>{{ report.email }}</td>
                        <td>{{ report.status }} </td>
                        {% if report.raspuns %}
                            <td>{{ report.raspuns }} </td>
                        {% else %}
                            <td><input type="text" name="raspuns" placeholder="Introduceti raspunsul"
                                       class="form-control"></td>
                        {% endif %}
                        <td>
                            {% csrf_token %}
                            <input type="hidden" name="report_id" value="{{ report.id }}">
                            <button type="submit" name="status" value="receptionat" title="Marcheaza ca receptionat"><i
                                    class="fas fa-envelope-open-text"></i></button>
                            <button type="submit" name="status" value="in_investigare"
                                    title="Marcheaza 'in investigare'"><i class="fas fa-search-dollar"></i></button>
                            <button type="submit" name="status" value="inchis" title="Marcheaza ca solutionat"><i
                                    class="far fa-window-close"></i></button>
                        </td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="..." class="pb-2 pt-1">
            {% if reports.has_other_pages %}
                <ul class="pagination justify-content-center pagination-lg">
                    {% if reports.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ reports.previous_page_number }}">Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                    {% endif %}

                    {% for i in reports.paginator.page_range %}
                        {% if reports.number == i %}
                            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if reports.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ reports.next_page_number }}">Next</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </nav>
    </div>
{% endblock %}
